[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyls = "*"
jedi = "*"
ipython = "*"

[packages]
psycopg2 = "<3.0,>=2.7"
djangorestframework = "==3.9.1"
djangorestframework-jwt = "*"
python-dateutil = "*"
django-cors-headers = "*"
Django = "<3.0,>=2.0"
PyYAML = "*"
uwsgi = "*"

[requires]
python_version = "3.6"
